.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #f7721f;
}

body, html{
  background-color: #162036;

}

.mainDiv {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
}

.videoList {
  background-color: white;

  display: flex;
  flex-direction: column;
  
}

.signOut {
  background-color: #ff8f1f;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  margin-top: 90px;
}

.video {
  background-color: white;

  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  padding: 20px;

}

.videoCard {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.logo {
  background-color: #162036;
  margin-bottom: 20px;
  color: white;
  width: 100%;

}

.cirrusgo {
  font-size: smaller;
  margin-top: 20px;
}




